



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
     
      height:100vh;
      background-color:rgb(142, 200, 214);
      font-family: sans-serif;
     
  }
  h1{
    text-align: center;
    color:white;
  }
  .first img{
    width:70%;
    margin-top: 150px;
    margin-left: 50px;
  }
  
  .container{
    display: flex;
    width: 100%;
    height: auto;
     overflow: hidden;

    }
  .header{
      border-bottom: 1px solid #f0f0f0;
      background-color: rgb(110, 83, 83);
      text-align: center;
      padding: 20px 40px;
      color:#fff;
  }
  .two h1{
    text-align: center;
    margin-left: 0px;
    width: 450px;
    background-color:rgb(41, 81, 141);
    color:white;
    padding: 10px;
  }
  .two{
    width: 50%;
    margin-top: 70px;
    margin-right: 50px;
    background-color: white;
    box-shadow: 10px 5px 10px (0 0 0 /30%);
  }
   
  .form{
     padding: 30px 40px;
     
  }
  .form-element{
   padding-bottom:10px;
   margin-bottom :20px;
    position: relative;
  }
  .form-element label{
      display: inline-block;
      margin-bottom: 5px;
  }
  .form-element input{
      display: block;
      font-size: 14px;
      border-radius: 4px;
      padding: 10px;
      width:100%;
      border:2px solid #f0f0f0; 
  }
  .form-element input:focus{
      outline: none;
      border:#777;
  }
  .form-element.success input{
      border-color: rgb(50, 128, 50);
  }
  .form-element.error input{
      border-color:rgb(163, 44, 44);
  }
  .form-element i{
      visibility: hidden;
      position:absolute;
      top:40px; 
      right: 10px;
  }
  .form-element.error i.bi-exclamation-circle{
       visibility: visible;
       color:red ;
  }
  .form-element.success i.bi-check-circle{
      visibility:visible;
      color:green ;
  }
  .form-element small{
      color:red;
      position: absolute;
      left:0;
      bottom:-5px;
      visibility: hidden;
  }
  .form-element.error small{
      visibility: visible;
  }
  .btn{
      text-align: center;
  }
  .btn button{
      background-color:rgb(41, 81, 141);
      color:#fff;
      border:none;
      border-radius: 5px;
      width:100%;
      font-size: 16px;
      margin-top: 20px;
      padding: 10px;
  }

